html
{
  background:  url(../Images/2.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.stuff
{
  background-color: rgba(0,0,0,0.0.4);
  color: white;
  font-style: oblique;
  padding: 50px;
  height: 300px;
  width: 500px;
  margin: 100px auto;
}
.profile_pic
{
  height: 100px;
  border-radius: 50%;
}
